.home-container {
  background-color: hsl(0, 0%, 98%);
}

.countries-list {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 2fr 2fr 2fr 2fr;
    /* flex-wrap: wrap; */
}

.card {
    display: block;
    margin: 30px auto;
    background-color: hsl(0, 0%, 100%);
    /* flex-grow: 1; */
    /* margin: 30px; */
    width: 250px;
}

.img-container {
    width: 250px;
    height: 170px;
}

