.App {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  /* padding-left: 5rem; */
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.img {
  max-width: 100%;
  height: 100%;
}